#pet-profile-img {
  border: 1px solid #0dab3f;
  border-radius: 50%;
  position: absolute;
  left: 30%;
  bottom: -15%;
  width: 40%;
}
#pet-profile-cover {
  border-bottom: 1px solid #393d42;
  border-top: 1px solid #393d42;
}

#profile-heading {
  font-size: 1.2rem;
  margin-top: 7%;
}

#profile-heading h2 {
  font-size: 2.25rem;
}

#cover-upload-icon {
  bottom: 15px;
  font-size: 1.75rem;
  position: absolute;
  right: 25px;
}

.btn-profile {
  background: #fff;
  border: 2px solid #393d42;
  border-radius: 30px;
  color: #393d42;
  font-family: "Sniglet";
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 600;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  white-space: nowrap;
}

.slider-img {
  border-radius: 10px;
  max-height: 300px;
  max-width: 300px;
}

@media (min-width: 768px) {
  #profile-heading {
    margin-top: 5%;
  }
  #pet-profile-img {
    bottom: -8%;
    left: 32.5%;
    width: 35%;
  }
  #pet-profile-container p {
    font-size: 1.25rem;
    margin: auto;
    max-width: 600px;
  }
  #pet-profile-container button,
  #pet-profile-container a {
    font-size: 1.25rem;
  }
}

@media (min-width: 1028px) {
  #profile-heading {
    margin-top: 7%;
  }
  #cover-upload-icon {
    font-size: 2.5rem;
    right: 3vw;
  }
  #pet-profile-img {
    bottom: -15%;
    left: 37.5%;
    width: 25%;
  }
  #pet-profile-cover {
    height: 75vh;
  }
}

@media (min-width: 1440px) {
  #profile-heading {
    margin-top: 5%;
  }
}
