#pet-profile-img {
  border-radius: 50%;
  position: absolute;
  left: 30%;
  bottom: -15%;
  width: 40%;
}
#pet-profile-cover {
  border-bottom: 1px solid #393d42;
  border-top: 1px solid #393d42;
}

#profile-heading {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 7%;
}

#profile-heading h2 {
  font-size: 2.25rem;
}

.slider-img-container {
  display: inline;
}

#cover-upload-icon {
  bottom: 15px;
  font-size: 1.75rem;
  position: absolute;
  right: 25px;
}

.bg-back-grn {
  background: rgb(3, 192, 60);
  background-image: linear-gradient(
    90deg,
    rgb(3, 192, 60) 0%,
    rgb(92, 252, 140) 100%
  );
}

.col-gap-1 {
  column-gap: 1rem;
}

.btn-profile {
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 400;
  height: 85px;
  position: relative;
  width: 85px;
}

#pop-container {
  background: lightgreen;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 9998;
}
#img-close {
  align-items: center;
  border: none;
  color: #393d42;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
  font-family: "Sniglet";
  font-size: 2rem !important;
  padding: 0.5rem;
}

.slider-img:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.975);
  transition: 0.25s;
}

#img-close i {
  color: #393d42;
  margin-left: 0.35rem;
  margin-top: 0.2rem;
}

.enlarge-img {
  border-radius: 10px !important;
  z-index: 9999;
  display: block;
  position: fixed;
  margin: 0 !important;
  opacity: 1 !important;
  max-height: none !important;
  width: 100% !important;
  max-width: 450px !important;
  left: 0;
  top: 25%;
  background-color: #4caf50;
  transform: scale(1.1);
}

.full {
  height: 100vh;
  width: 100vw;
}

.helper-text {
  font-size: 1.1rem;
  font-family: "Sniglet";
}

.btn-profile i {
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  white-space: nowrap;
}

.slider-img {
  border-radius: 10px;
  max-height: 300px;
  max-width: 300px;
}

@media (min-width: 768px) {
  #profile-heading {
    margin-top: 5%;
  }
  #pet-profile-img {
    bottom: -8%;
    left: 32.5%;
    width: 35%;
  }
  #pet-profile-container p {
    font-size: 1.25rem;
    margin: auto;
    max-width: 600px;
  }
  #pet-profile-container button,
  #pet-profile-container a {
    font-size: 1.25rem;
  }
}

@media (min-width: 1028px) {
  #profile-heading {
    margin-top: 7%;
  }
  #cover-upload-icon {
    font-size: 2.5rem;
    right: 3vw;
  }
  #pet-profile-img {
    bottom: -15%;
    left: 37.5%;
    width: 25%;
  }
  #pet-profile-cover {
    height: 75vh;
  }
}

@media (min-width: 35px) {
  #img-close {
    bottom: 10%;
  }
}

@media (min-width: 1440px) {
  #profile-heading {
    margin-top: 5%;
  }
}
