.bg-dark-grad {
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(
    90deg,
    rgb(31, 30, 30) 0%,
    rgba(107, 107, 107, 1) 100%
  ) !important;
}

.bg-dark-grad-vertical {
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(
    90deg,
    rgb(19 17 17) 0%,
    rgb(54 54 54) 100%
  ) !important;
}
