.secondary-user {
  position: absolute;
  top: 0;
}

#phone-disable {
  border-radius: 50%;
  position: absolute;
  height: 68px;
  width: 68px;
  right: 5px;
  top: -125px;
}

#call-send {
  color: #212529;
  font-size: 1.75rem;
}

#phone-disable i {
  font-size: 2rem;
}

#cam-main {
  min-height: 80vh;
  min-width: 100vw;
  width: 100%;
  object-fit: cover;
}

.cover .spinner-container {
  position: absolute;
  left: 0;
  top: 25vh;
  width: 50vw;
}

.cover {
  background: #212529;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999
}

#copy-clipboard {
  border-radius: 50%;
  position: absolute;
  height: 68px;
  width: 68px;
  right: 5px;
  top: -200px;
}

#copy-clipboard i {
  color: #f7f7f7;
}

#phone-send {
  border-radius: 50%;
  height: 68px;
  width: 68px;
  position: absolute;
  right: 5px;
  top: -125px;
}

#incoming-call {
  font-family: 'Sniglet';
  font-size: 1.5rem;
  position: absolute;
  left: 10vw;
  padding: 10px 18px;
  top: -100px;
  width: 50vw;
}

#secondary-caller {
  width: 200px;
  position: absolute;
  bottom: 75px;
  left: 8px;
  z-index: 9999;
  border-radius: 5px;
}

.chat-phone-input {
  border: 2px solid #05bf3d;
}

#phone-input-form {
  position: absolute;
  top: -95px;
}

#chat-logo {
  margin: 0;
}

#phone-send i {
  font-size: 2rem;
}

.shake {
  animation: shake linear 2s infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(6px, 0, 0);
    transform: scale(1.1);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}