.card-width {
  width: 18rem;
}

.bg-grn {
  background: #1a8941;
  color: #fff;
}

.card {
  margin: auto;
  min-width: 225px;
  max-width: 400px;
  position: relative;
}

.card .btn {
  font-family: "Sniglet", cursive;
  font-size: 1.15rem;
  font-weight: 500;
}

.card-header {
  font-family: "Sniglet", cursive;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(253 249 244);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

u,
.card-title strong {
  font-family: "Sniglet", cursive;
  font-weight: 500;
}

.card-header i {
  color: #0ac241;
  margin: 0 10px;
}

.card-favorited:hover {
  cursor: pointer;
  font-size: 3rem;
  opacity: 0.75;
  transition: 0.5s;
}

.card-header:first-child {
  border-radius: 15px 15px 0 0 !important;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  border-radius: 10px !important;
}

.card-favorited {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #05bf3c;
  font-size: 2.5rem;
}

.card-footer {
  border-radius: 0 0 10px 10px !important;
  color: #fff;
  padding: 0.5rem 1rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(57 61 66) 0%, rgb(103 103 103) 100%);
}

.card-title {
  font-size: 1.75rem;
}

.featured-card .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 768px) {
  .card-header {
    font-size: 1.2rem;
  }
}
