.nav-pills .nav-link.active {
  background: none;
  color: #393d42;
  font-family: "Sniglet", cursive;
  text-decoration: underline;
  text-underline-offset: 3px;
  transform: scale(1.15);
  transition: 0.5s;
}

#pills-tab {
  border-radius: 10px 10px 0 0;
}

#pills-tab .nav-link {
  color: #fff;
  font-size: 1.35rem;
  font-family: "Sniglet";
  font-weight: 500;
}

#pills-tab .nav-link.active {
  background: rgb(3, 192, 60);
  background: -webkit-linear-gradient(
    90deg,
    rgb(3, 192, 60) 0%,
    rgb(92, 252, 140) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .5s;
  transform: scale(1.25);
  font-weight: 500;
}

.list-group-item {
  text-align: left;
  font-family: "Sniglet";
}

.list-group-item .badge {
  color: #393d42;
  font-size: 0.8rem;
  text-decoration: underline;
}

.tab-content {
  background: #fff;
  border-radius: 0 0 10px 10px;
  margin-top: 1rem;
}

.tab-content .btn-outline-dark {
  background: #fff;
  border-color: #393d42;
  border-radius: 30px;
  color: #393d42;
  font-family: "Sniglet", cursive;
  font-size: 1.25rem;
}

.btn-outline-dark:hover {
  background: #ffffff50;
}
