#account-detail img {
  border-radius: 10px;
  width: 100%;
}

#account-detail .col-12 .flex-column {
  background: none;
}

#profile-edit {
  background: #fff;
  border: 1px solid #393d42;
  border-radius: 50%;
  font-size: 2rem;
  display: block;
  height: 71px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: -35.5px;
  opacity: 0.8;
  width: 71px;
}

#chart {
  color: #393d42;
}

.bar-chart p{
  color: #393d42;
  font-family: "Sniglet";
  font-size: 22px;
}

.bar-chart .helper-text{
  color: #393d42;
  font-family: "Roboto";
  font-size: 18px;
}

#profile-edit:hover {
  opacity: 1;
  transition: 0.5s;
}

#profile-edit i {
  display: block;
}
