.homepage-search {
  background: #f7f7f7;
  border-radius: 0 0 13px 13px;
  font-family: "Raleway";
  margin: 0.5rem auto;
  max-width: 600px;
  padding: 0;
}

#search-form nav {
  margin-top: -1px;
}

#search-form {
  background: #f7f7f7;
}

.search-form-container {
  border-radius: 13px;
}

.homepage-search img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.homepage-search .submit,
.submit {
  background: #d2fdcb;
  font-size: 1.25rem;
  font-family: "Sniglet", cursive;
  border: 2px solid #03c03c;
  padding: 13px 20px;
  border-radius: 30px;
}

#homepage-search .submit {
  width: 85%;
}

.form-sub-title {
  font-size: 0.75rem;
  text-decoration: none !important;
}

#search-nav {
  background: #393d42;
  border-radius: 10px 10px 0 0;
  flex-wrap: nowrap;
  padding: 0;
}

#search-form .nav-item i {
  color: #f7f7f7;
  width: 40px;
}

.border-sides {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

#search-form .nav-item .active i, .nav-pills .nav-link.active {
  background: rgb(3, 192, 60);
  background: -webkit-linear-gradient(
    90deg,
    rgb(3, 192, 60) 0%,
    rgb(92, 252, 140) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  transform: scale(1.15);
}

#search-form img {
  border-radius: 0 0 13px 13px;
}

#search-form .tab-content {
  background: #f7f7f7;
}

.nav-pills .nav-link.active {
  text-decoration: underline;
}

#search-nav a {
  color: #f7f7f7;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
}

#search-form .nav {
  border-radius: 13px 13px 0 0;
  background: #393d42;
}

#search-nav .form-active {
  border-radius: inherit;
  color: #16af3d;
  background: #f7f7f7;
}

.label-container,
col {
  position: relative;
}

.homepage-search input,
.homepage-search select {
  border-radius: 20px;
  line-height: 2rem;
  padding: 15px 25px 5px;
}

.homepage-search select option {
  background: #fff;
  color: #03c03c;
}

.form-control:focus {
  border-color: #03c03c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #03c03c;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  padding: 1rem 2rem;
  font-family: "Roboto";
}

.homepage-search label {
  font-size: 0.95rem;
  font-family: "Roboto";
  left: 13px;
  position: absolute;
  top: 1px;
}

#location-help {
  font-weight: bold;
  text-decoration: underline;
}

#location-help i {
  color: #03c03c;
}

.txt-lg {
  font-size: 2rem;
  font-family: "Sniglet", cursive;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.txt-md {
  font-size: 1.25rem;
}

.d-block {
  display: block;
}

#search-form .container {
  min-width: auto;
}

#search-form .nav-link {
  font-size: 2rem;
  padding: 1rem;
}

.nav-justified .nav-item {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}

@media (min-width: 768px) {
  #search-form p {
    font-size: 1.5rem;
  }
  #search-form p span {
    font-size: 2.5rem;
  }
}
