* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  color: #000;
  z-index: 9999 !important;
}

.brand-logo {
  max-width: 175px;
  float: left;
  padding: 0;
}

#sidebar-img {
  border-radius: 50%;
  width: 50%;
}

.brand-logo img {
  max-width: 100%;
}

.fa-times {
  color: #000;
}

.navigation {
  margin: 0px;
  float: right;
  opacity: 1;
  z-index: 9999;
}

.navigation li {
  color: #000;
  font-family: "Grandstander", cursive;
  font-size: 1.5em;
  padding: 20px 0;
  text-align: center;
  display: block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

nav span {
  color: #fdf9f4;
  font-family: "Sniglet", cursive;
  font-size: 1.25rem;
  margin-top: 6px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  margin: 0px;
  float: right;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #000;
}

#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.toggle-btn {
  background-color: #0dab3f;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 2rem;
  height: 1.75em;
  width: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  opacity: 0.8;
}

.navigation li i {
  font-size: 3.5rem;
  color: #4ee27b;
}

.navigation li:hover,
#logo {
  cursor: pointer;
  transform: scale(1.1);
}

#nav-logout {
  background: #fdf9f4;
  font-family: "Sniglet", cursive;
  font-size: 1rem;
  position: absolute;
  top: 14px;
  left: 10px;
}

/*-- Responsive CSS --*/
@media screen and (max-width: 767px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .navigation {
    position: fixed;
    width: 75vw;
    height: 100vh;
    background: #202123;
    right: -150%;
    top: 0;
    padding: 75px 0px;
    transition: 1s;
  }

  .navigation li {
    background: #202123;
    width: 100%;
  }

  .navigation li a {
    padding: 15px 15px;
    text-align: left;
  }

  .navigation li a i {
    width: auto;
    font-size: 20px;
  }

  .hide-menu-btn {
    background-color: #fdf9f4;
    border: 2px solid #4ee27b;
    position: absolute;
    top: 18px;
    padding: 0px 12px;
    right: 20px;
    border-radius: 5px;
  }
  .nav-respond {
    right: 0;
  }

  #nav > .helper-text {
    color: #fff;
    display: block;
    line-height: 1;
  }

  .sub-text {
    color: #fff;
    font-size: 0.9rem;
  }

  .top-border {
    border-top: 1px solid #808080;
    margin-top: 25px;
  }

  #mobile-logo {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 8px;
    width: 50px;
  }
}

@media (min-width: 768px) {
  #nav-logout {
    font-size: 0.6rem;
    padding: 10px 15px;
    position: relative;
    top: 5px;
  }

  .navigation li {
    color: #000;
  }

  .brand-logo {
    padding: 5px 0;
  }

  header {
    border-bottom: 1px solid #808080;
  }

  .navigation li {
    font-size: 0.8rem;
  }

  #mobile-logo {
    display: none;
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .navigation li {
    font-size: 1.25rem;
  }
}
