.video-full {
  width: 100%;
}

.video-full:hover {
  cursor: pointer;
  opacity: 0.8;
}

span {
  font-family: inherit;
}

.grn {
  color: #03c03c;
}

.main-heading,
.sub-heading {
  font-family: "Sniglet", cursive;
  font-size: 1.85rem;
  font-weight: 600;
}

.display-heading {
  font-family: "Sniglet", cursive;
  font-size: 1.85rem;
  font-weight: 600;
}

.home-p {
  font-family: "Sniglet", cursive;
  font-size: 1.2rem;
}

.r-50 {
  border-radius: 50%;
}

.neg-margin-5 {
  margin-bottom: -2rem;
  margin-top: 2rem;
  text-decoration: underline;
}

h2 {
  font-weight: 600;
}

.container {
  position: relative;
}

.display-paw {
  color: #d2fdcb;
  font-size: 14rem;
  top: -20px;
}

#display-search {
  background: #03c03c;
  border: 2px solid #d2fdcb;
  color: #fff;
  font-family: "Sniglet", cursive;
  letter-spacing: 1px;
}

.fade-in-1,
.display-paw {
  position: absolute;
}

.fade-in-1 {
  top: 40px;
}

.main-heading,
.sub-heading {
  opacity: 1;
}

.fade-in-1 {
  animation: fadeIn ease 4s;
  color: #393d42;
}
.fade-in {
  animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
