.video-full {
  background: #90ee90;
  max-height: 100vh;
  width: 100vw;
}

.video-full:hover {
  cursor: pointer;
  opacity: 0.8;
}

.lg-paw {
  font-size: 8rem;
}

.bg-grn-grad {
  background: -webkit-linear-gradient(
    90deg,
    rgb(3, 192, 60) 0%,
    rgb(92, 252, 140) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-family: inherit;
}

.grn {
  color: #03c03c;
}

.w-view {
  width: 100vw;
}

.main-heading,
.sub-heading {
  font-family: "Sniglet", cursive;
  font-size: 1.85rem;
  font-weight: 600;
}

.display-heading {
  font-family: "Sniglet", cursive;
  font-size: 1.85rem;
  font-weight: 600;
}

.home-p {
  font-family: "Sniglet", cursive;
  font-size: 1.2rem;
}

.r-50 {
  border-radius: 50%;
}

.neg-margin-5 {
  margin-bottom: -2rem;
  margin-top: 2rem;
  text-decoration: underline;
}

h2 {
  font-weight: 600;
}

.container {
  position: relative;
  text-align: center;
  min-width: 100vw;
}

.home-scrolling-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.slider-right-end {
  font-size: 1.5rem;
  padding-right: 2rem;
}

.slider-right-end i {
  font-size: 3rem;
}

.btn,
.submit,
button {
  max-width: 275px;
  margin: auto;
}

.btn-alt {
  background: #fff;
  border: 2px solid #212529;
}

.pb-10 {
  padding-bottom: 15vh;
}

.fa-arrow-circle-right {
  margin-left: 5px;
}

.grow {
  animation: growScale linear 1s infinite;
}
@keyframes growScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.lrg-img {
  max-width: 400px;
}

.display-paw {
  color: #d2fdcb;
  font-size: 14rem;
  top: 0;
}

#display-search {
  font-size: 1.45rem;
  background: rgb(3, 192, 60);
  background: linear-gradient(
    90deg,
    rgba(3, 192, 60, 1) 0%,
    rgb(92, 252, 140) 100%
  );
  border: 2px solid #d2fdcb;
  color: #fff;
  font-family: "Sniglet", cursive;
  letter-spacing: 1px;
}

.fade-in-1,
.display-paw {
  position: absolute;
}

.fade-in-1 {
  top: 55px;
}

.main-heading,
.sub-heading {
  opacity: 1;
}

.min-100-vw {
  min-height: 100vh;
}

.bg-grn {
  background: green;
}

.fade-in-1 {
  animation: fadeIn ease 4s;
  color: #393d42;
}
.fade-in {
  animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .home-scrolling-wrapper {
    margin: 1rem;
  }

  .display-heading {
    font-size: 5rem;
  }
  .sub-heading {
    font-size: 2.75rem;
  }
  #display-search {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .lg-paw {
    font-size: 5rem;
  }
  .home-p {
    font-size: 1.65rem;
  }
  .btn-alt {
    font-size: 1.5rem;
  }
}
